[submodule "notebooks/captioning_and_evaluation/a-PyTorch-Tutorial-to-Image-Captioning"]
	path = notebooks/captioning_and_evaluation/a-PyTorch-Tutorial-to-Image-Captioning
	url = https://github.com/sgrvinod/a-PyTorch-Tutorial-to-Image-Captioning.git
[submodule "notebooks/captioning_and_evaluation/pymeteor"]
	path = notebooks/captioning_and_evaluation/pymeteor
	url = https://github.com/zembrodt/pymeteor.git
[submodule "notebooks/image_and_caption_augmentation/CycleGAN"]
	path = notebooks/image_and_caption_augmentation/CycleGAN.git
	url = https://github.com/junyanz/pytorch-CycleGAN-and-pix2pix
[submodule "notebooks/image_and_caption_augmentation/CycleGAN"]
	path = notebooks/image_and_caption_augmentation/CycleGAN.git
	url = https://github.com/junyanz/pytorch-CycleGAN-and-pix2pix
[submodule "notebooks/image_and_caption_augmentation/ca-gan"]
	path = notebooks/image_and_caption_augmentation/ca-gan
	url = https://github.com/fei-hdu/ca-gan.git

